<%- include("../../partials/head") %>

<section>
  <div class="container">
    <div class="title-container">
      <h1>Airlines</h1>
      <a href="/airlines/new" class="btn create-button">create new airline</a>
    </div>
    <div class="row">
      <% for(const airline of airlines) { %>
      <div class="col s6 l3">
        <div class="card" style="box-shadow: none; position: relative">
          <a href="/airlines/<%= airline.slug %>" class="card-title">
            <div class="card-image z-depth-1">
              <img
                src="../../images/<%= airline.logo %>"
                height="200px"
                alt="<%= airline.name %> logo"
                style="
                  object-fit: contain;
                  height: 180px;
                  width: 100%;
                  padding: 1rem;
                "
              />
            </div>
          </a>
          <div
            class="button-container"
            style="
              position: absolute;
              z-index: 1;
              top: 1rem;
              right: 1rem;
              background: transparent;
            "
          >
            <a href="/airlines/<%= airline.slug %>/edit">
              <i class="material-icons white cirlce">edit</i>
            </a>
          </div>
        </div>
      </div>

      <% } %>
    </div>
  </div>
</section>

<%- include("../../partials/footer") %>
