<%- include("../../partials/head") %>

<section>
  <div class="container">
    <div class="title-container">
      <h1><a href="/airlines"><%= showPage.name %></a></h1>
      <a
        href="/airlines/<%= showPage.slug %>/destinations/new"
        class="btn create-button"
      >
        create new destination
      </a>
    </div>
    <div>
      <ul>
        <% for(let destination of destinations.destinations){ %>
        <li><%= destination.airport_code %></li>
        <% } %>
      </ul>
    </div>
  </div>
</section>

<%- include("../../partials/footer") %>
